@model NewsAgency.App.Models.DisplayModels.Articles.ArticleAdminViewModel

@{
    ViewBag.Title = "_AdminArticleView";
}

<tr>
    <td>@Html.ActionLink(Model.Title, "Details", new {id = Model.Id})</td>
    <td>@Model.Author</td>
    <td>@Model.Category</td>
    <td>@Model.Content</td>
    <td>@Model.Likes</td>
    <td>@Model.CreatedOn</td>
    <td>@Html.ActionLink("Edit", "Edit", null, new {id = Model.Id}, new {type = "button", @class = "btn btn-primary"})</td>
    <td>@Html.ActionLink("Delete", "Delete", null, new {id = Model.Id}, new {type = "button", @class = "btn btn-warning"})</td>
</tr>